@use '../core/variables' as vars;

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.find-anime {
    padding:20px;

}

.find-anime-title {
    padding: 20px;
}

.results-anime {
    background-color: grey;
    max-width: 500px;
    padding: 20px;
}

.favorites {
    background-color: aqua;
    max-width: 500px;
    padding: 20px;
}